@model List<VillainRowViewModel>

@{
    ViewData["Title"] = "Villain Deletion";
}

<h2>Villain Deletion</h2>

<p>The villain is not found</p>

<a class="btn btn-default" asp-controller="Villains" asp-action="Index">Back to List</a>