@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome!</h1>

<ul>
    <li><a asp-controller="Superheroes" asp-action="Index">Superheroes</a></li>
    <li><a asp-controller="Villains" asp-action="Index">Villains</a></li>
</ul>
