@model VillainEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit villain</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="VillainName">villain name:</label>
        <input asp-for="VillainName" class="form-control" />
        <span asp-validation-for="VillainName"></span>
    </div>

    <div class="form-group">
        <label asp-for="SecretName">secret name:</label>
        <input asp-for="SecretName" class="form-control" />
        <span asp-validation-for="SecretName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Strength">strength:</label>
        <input asp-for="Strength" class="form-control" type="number" />
        <span asp-validation-for="Strength"></span>
    </div>

    <div class="form-group">
        <label asp-for="KilledPeople">Killed People:</label>
        <input asp-for="KilledPeople" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="KilledPeople"></span>
    </div>

    <div class="form-group">
        <label asp-for="KidnappedPeople">Kidnapped People:</label>
        <input asp-for="KidnappedPeople" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="KidnappedPeople"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstDate">FirstData:</label>
        <input asp-for="FirstDate" type="datetime" />
        <span asp-validation-for="FirstDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="Characteristics">Characteristics:</label>
        <textarea asp-for="Characteristics" class="form-control"></textarea>
        <span asp-validation-for="Characteristics"></span>
    </div>

    <div class="form-group">
        <a asp-controller="Villains" asp-action="Index" class="btn btn-default">Undo</a>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>
