@model SuperheroEditViewModel

<h2 class="text-center">Delete superhero</h2>

<p>Do you want to delete permanentely the superhero @Model.HeroName?</p>

<form method="post" asp-action="DeleteConfirmed">
    <div style="display: flex; flex-direction: row; align-items: flex-start;">
        <a asp-controller="Superheroes" asp-action="Index" class="btn btn-default">back to list</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>
