@model SuperheroEditViewModel

@{
    ViewData["Title"] = "Edit";

    var villains = (IEnumerable<SelectRowViewModel>)ViewData["villains"];

    var selectList1 = new SelectList(
        villains,
        nameof(SelectRowViewModel.Id),
        nameof(SelectRowViewModel.Name));

    var selectList2 = villains
        .Select(x => new SelectListItem
        {
            Value = x.Id.ToString(),
            Text = x.Name,
        });
}

<h2>Edit superhero</h2>

<form method="post">
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="HeroName">hero name:</label>
            <input asp-for="HeroName" class="form-control" />
            <span asp-validation-for="HeroName"></span>
        </div>

        <div class="form-group col-sm-6">
            <label asp-for="SecretName">secret name:</label>
            <input asp-for="SecretName" class="form-control" />
            <span asp-validation-for="SecretName"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label asp-for="Strength">strength:</label>
            <input asp-for="Strength" class="form-control" type="number" />
            <span asp-validation-for="Strength"></span>
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="AssetsValue">assets value:</label>
            <input asp-for="AssetsValue" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="AssetsValue"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Enemies">enemies list:</label>
            <select class="form-control"
                asp-for="Enemies" 
                asp-items="selectList1">
            </select>
        </div>
    </div>
        <div class="form-group">
            <label asp-for="CanFly">can fly:</label>
            <input asp-for="CanFly" type="checkbox" />
            <span asp-validation-for="CanFly"></span>
        </div>

        <div class="form-group">
            <label asp-for="Powers">powers:</label>
            <textarea asp-for="Powers" class="form-control"></textarea>
            <span asp-validation-for="Powers"></span>
        </div>

        <div class="form-group">
            <a asp-controller="Superheroes" asp-action="Index" class="btn btn-default">Undo</a>
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
</form>
