@model List<SuperheroRowViewModel>

@{
    ViewData["Title"] = "Superhero Deletion";
}

<h2>Superhero Deletion</h2>

<p>The superhero is not found</p>

<a class="btn btn-default" asp-controller="Superheroes" asp-action="Index">Back to List</a>