<h1>Welcome to the superheroes app!</h1>

<ul>
    <li><a asp-controller="Superheroes" asp-action="Index">Superheroes</a></li>
    <li><a asp-controller="Villains" asp-action="Index">Villains</a></li>
</ul>
